{% extends "base.html" %}

{% block content %}

<h1>Загадка {{ riddle.id }}</h1>

<p>{{ riddle.riddle_text|safe }}</p>

{% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
{% endif %}

<form action="{% url 'riddles:answer' riddle.id %}" method="post">
    {% csrf_token %}
    {% for option in riddle.option_set.all %}
        <input type="radio" name="option" id="option{{ forloop.counter }}" value="{{ option.id }}" />
        <label for="option{{ forloop.counter }}">{{ option.text }}</label><br>
    {% endfor %}
    <input type="submit" value="Ответ" />
</form>

{% endblock content %}